# Created by .ignore support plugin (hsz.mobi)### Example user template template### Example user template# IntelliJ project files.idea*.imloutgen.gitignore.idea/CNAMEcontact.htmlcss/favicon.icohome-site.imlimages/index.htmljs/owl-carousel/single.html